.card {
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.title {
  font-size: 1.5rem;
  color: #333;
}

.name {
  font-size: 1rem;
  color: #666;
}

.jokePage {
  padding: 40px;
  text-align: center;
}